<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/layout :: head (pageTitle='PetClinic :: Registration')">
   <title>PetClinic :: Registration</title>
   <meta charset="utf-8" />
</head>
<body>
	<div th:replace="fragments/layout.html :: mainMenu">
    </div>
	<h1>
		Register as a new member
	</h1>
	
	<form action="#" th:action="@{/register/register}" th:object="${registrationCmd}" method="post">
		
		<label for="email">email:</label>
		<input type="email" name="email"/><br>		
		<label for="firstName">first name:</label>
		<input type="text" name="firstName"/><br>		
		<label for="lastName">last name:</label>
		<input type="text" name="lastName"/><br>		
		<label for="password">password:</label>
		<input type="password" name="password"/><br>
		<label for="passwordRepeat">repeat password:</label>
		<input type="password" name="repeatPassword"/><br>
		
		<button type="submit">
			Confirm
		</button>
		
	</form>
	
	<div th:replace="fragments/layout.html :: footer">
    </div>

</body>
</html>